{
    "_comment":"task - normal, contour_image_vad, audio_parsing, intonation_contour, normal_with_text, contour_image_and_ctc, audio_parsing_with_text, audio_parsing_with_text_concat,intonation_coutour_with_text,intonation_and_wav2vec2,mfcc_wav2vec2,double_wav2vec2",
    "_comment1.5":"msp_normal, msp_intonation_and_wav2vec2, interpolated_intonation_and_wav2vec2, temporal_normal, temporal_intonation_and_wav2vec2",
    "_comment2":"subtask (audio_parsing) - parsing_first, embedding_first, linear_concat",
    "_comment3":"last, layer7",
    "_comment4":"run -  srun python cupcake_backup/iemocap_code/iemocap_audio_train.py --config /home/ryumj/cupcake_backup/configs/audio.json",
    "_comment5":"model list : facebook/wav2vec2-large-robust facebook/wav2vec2-base-960h /home/ryumj/baseline-robust",
    "_comment6:":"/home/ryumj/cupcake_backup/msp_podcast_vad/audio/MSP-PODCAST_0001_0008.wav 또는 /home/ryumj/cupcake_backup/IEMOCAP_full_release_withoutVideos/IEMOCAP_wav",
    "_comment7":"./cupcake_backup/IEMOCAP_full_release_withoutVideos/iemocap.tsv",
    "_comment8":"layer:숫자(0~23) 또는 last",
    "_comment9":"/home/ryumj/baseline-robust",
    
    "audio_model_name":"/home/ryumj/baseline-robust",
    "audio_tokenizer_name":"facebook/wav2vec2-base-960h",
    "audio_path":"/home/ryumj/cupcake_backup/msp_podcast_vad/audio",

    "text_cap_path":"/home/ryumj/cupcake_backup/IEMOCAP_full_release_withoutVideos/iemocap.tsv",
    "text_msp_path":"/home/ryumj/cupcake_backup/msp_podcast_vad/labels_consensus_real.csv",
    "text":"ok",
    "text_model_name":"roberta-large",
    "tokenizer":"roberta-large",

    "load_model_path":"./msp_cnn/",
    "logger_path": "./msp_cnn.log",
    
    "hidden_size":1024,
    "task":"msp_intonation_and_wav2vec2",
    "subtask":"probing",
    "layer":"last",
    "normalized":"ok",
    "trun_length":1024,

    "language":"English",
    "dataset":"msp_podcast",
    "embedding":"linear",
    "delimiter":",",
    "val_ratio":0.2,
    "test_ratio":0.5,
    "max_length":256,

    "epoch":20,
    "train_batch_size": 1,
    "eval_batch_size": 1,
    "train_shuffle":false,
    "learning_rate":1e-5,
    "max_grad_norm":10,

    "seed":122,

    "ctc_a":0.01,

    "image_path":"image_path"
}
